{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
<div class="row" style="margin-top:50px;">
	<h2>Архив</h2>
<div class="col-md-5 col-md-offset-1"	>


	<img width="400" src="{% static 'images/not_work.jpg' %}"><br>


</div>

<div class="col-md-5">
<br><br><br>

<div align="center">
Уважаемые жильцы! Сайт находится в разработке! Эта страница временно не доступна. Приносим свои извинения! 
Нет причин для паники, видео со всех камер записывается к нам на сервер.
Для получения записи из архива можете обратиться в УК Выбор Сервис к МАСТЕРУ по месту проживания или послать запрос на нашу почту: info@oko36.ru
Это временное неудобство!
</div>
<br>
С уважением, <br>
Техническая поддержка Видео – ОКО<br>
т. 8-952-103-74-74<br>
т. 8-473-293-81-74 <br>



</div>

{% endblock %}

