{% extends "base.html" %}
{% load video_tags %}

{% block content %}

{% if user and not user.is_anonymous %}


        {% block breadcrumb %}
<div class="row" style="margin-top:20px;">
        <a href="/" class="breadcumb__page no-decoration">Главная</a>
					<span class="breadcumb__del no-decoration">»</span>
                    {% for parent in current_category.get_ancestors %}
                        <a href="{% url 'cameras' parent.pk %}">{{ parent.title }}</a>
                    <span class="breadcumb__del no-decoration">»</span>
                    {% endfor %}

<a href="{% url 'cameras' current_category.pk %}"> {{ current_category.title }} </a>
                    <span class="breadcumb__del no-decoration">»</span>

<a href="{% url 'camera' object.pk %}"> {{  object.title  }} </a>
                    <span class="breadcumb__del no-decoration">»</span>
Архив


</div>
{% endblock %}



    <div class="row" style="margin-top:20px;">
        <div class="col-md-12"><h2>Архив - {{ object.title }}</h2></div>
    </div>


<div class="container">
    <div class="row">
        <br><br><br>
        <div class='col-sm-3'>
            <div class="form-group inline-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" id="mydate">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
<br>





            </div>
        </div>
        <div class="'col-sm-3">

            <div class='inline-group'>

                <input type="button" class="btn btn-primary" onclick="generate_archive_link('{{ object.camera_id }}','{{user.id}}','{{user.id | md5}}');" id="get_me_arheve" value="Смотреть">

                </div>

        </div>

    </div>
</div>








    <div class="row" style="margin-top:50px;">
        <div class="col-md-4 center-block" >



            <img width="700" height="394" id="archive_block" src="http://185.40.77.66:5000/snapshot/{{ object.camera_id }}/{{user.id}}/{{user.id | md5}}">

        <br><br>








<a href="{% url 'camera' object.pk %}" class="btn btn-primary">Смотреть трансляцию</a><br><br>
        <br><br>

    </div>

        {% else %}

            <div class="row" style="margin-top:50px;">
        <div class="col-md-4"><h2>Необходима авторизация</h2></div>
    </div>

    {% endif %}








{% endblock %}
