{% extends "base.html" %}


{% block content %}

{% if user and not user.is_anonymous %}

    <div class="row" style="margin-top:50px;">
        <div class="col-md-4"><h2>Архив - {{ object.title }}</h2></div>
    </div>


<div class="container">
    <div class="row">
        <br><br><br>
        <div class='col-sm-3'>
            <div class="form-group inline-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" id="mydate">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
<br>





            </div>
        </div>
        <div class="'col-sm-3">

            <div class='inline-group'>

                <input type="button" class="btn btn-primary" onclick="generate_archive_link('{{ object.server_ip }}','{{ object.camera_id }}','{{ object.server_login }}','{{ object.server_pass }}');" id="get_me_arheve" value="Смотреть">

                </div>

        </div>

    </div>
</div>








    <div class="row" style="margin-top:50px;">
        <div class="col-md-4 center-block" >




        <img width="640" id="archive_block" src="{{ object.server_ip }}/rsapi/snapshot?id={{ object.camera_id }}&viewSize=640x480&user={{ object.server_login }}&password={{ object.server_pass }}"><br><br>


        <br><br>








<a href="{% url 'camera' object.pk %}" class="btn btn-primary">Смотреть трансляцию</a>

    </div>

        {% else %}

            <div class="row" style="margin-top:50px;">
        <div class="col-md-4"><h2>Необходима авторизация</h2></div>
    </div>

    {% endif %}








{% endblock %}
