{% extends "base.html" %}



{% block content %}
<div class="row" style="margin-top:50px;">
	<h2>Контакты</h2>
<div class="col-md-5 col-md-offset-1"	>
<br><br>

<p><b>Видео - ОКО г.Воронеж</b></p>
<p><i>(Видеонаблюдение желых комплексов и коммерческих объектов)</i></p>

<h3>Информация для связи с нами:</h3>

<b>Электронная почта:</b> <a href="mail-to:info@oko32.ru">info@oko36.ru</a> <br>

т. 293-81-74<br>
м.т. +7-952-103-74-74<br>

<b>сайт:</b> <a href="http://oko36.ru">http://oko36.ru</a>

</div>

</div>
{% endblock %}
