{% extends "base.html" %}



{% block content %}
<div class="row" style="margin-top:50px;">
    <div class="col-md-6 col-md-offset-3 text-center">
    <h4 class="text-danger">Уважаемые жильцы все звонки и запросы по видеонаблюдению принимаются:</h4>

    <table class="table  table-bordered">
        <tr>
            <td width="50%">Понедельник<br>
Вторник<br>
Среда<br>
Четверг<br>
Пятница</td>
            <td width="50%">
Звонки и запросы на электронную почту
с 09:00 до 20:00
                <br><br>

<b>Электронная почта:</b> <a href="mail-to:info@oko32.ru">info@oko36.ru</a> <br>

т. 293-81-74<br>
м.т. +7-952-103-74-74<br>
            </td>
        </tr>
<tr>
    <td>Суббота<br>
Воскресенье</td>
    <td>

        Запросы на электронную почту <a href="mail-to:info@oko32.ru">info@oko36.ru</a>

    </td>
</tr>
    </table>
    </div>

</div>
{% endblock %}


<h2>





