{% extends "base.html" %}
{% load staticfiles %}
{% load video_tags %}






{% block content %}

    {% if user and not user.is_anonymous %}


{% block breadcrumb %}
<div class="row" style="margin-top:20px;">
        <a href="/" class="breadcumb__page no-decoration">Главная</a>
					<span class="breadcumb__del no-decoration">»</span>
                    {% for parent in object.get_ancestors %}
                        <a href="{% url 'cameras' parent.pk %}">{{ parent.title }}</a>
                    <span class="breadcumb__del no-decoration">»</span>
                    {% endfor %}
     {{ object.title }}
</div>
{% endblock %}


    <div class="row" style="margin-top:20px;">
        <div class="col-md-4"><h2>{{ object.title }}</h2></div>
    </div>



                <div class="row">

        {% for item_obj in arr_obj %}

             <div class="col-md-4">
                       <a href="{% url 'cameras' item_obj.pk %}">
        <center>
            <img src="/video_objects/{{item_obj.file}}" title="{{item_obj.title}}"><br>

            <b>{{ item_obj.title }}</b><br>{{item_obj.meta_description}}
            <br>

            </center><br><br>
        </div>

         {% endfor %}

                </div>



    <div class="row">
    {% for cameras in arr_cam %}


<div class="col-md-4">
<a href="{% url 'camera' cameras.pk %}">
        <center>

            {% if cameras.file  %}
            <div class="img_box" style="height: 150px; width: 250px; background: url({% static 'images/blank.png' %});">
            <img width="250" class="camera_stream1"   src="{{ cameras.file.url }}" ><br>
            </div>


            {% else %}


            <div class="img_box" style="height: 150px; width: 250px; background: url({% static 'images/blank.png' %});">
            <img width="250" height="140" class="camera_stream"   src="http://185.40.77.66:5000/snapshot/{{ cameras.camera_id }}/{{user.id}}/{{user.id | md5}}" ><br>
            </div>

            {%  endif %}

            <b>{{ cameras.title }}</b><br><!--{{cameras.camera_description}}-->


            </center><br><br>
        </a>
        </div>


    {% endfor %}

    </div>

     {% else %}

            <div class="row" style="margin-top:50px;">
        <div class="col-md-4"><h2>Необходима авторизация</h2></div>
    </div>

    {% endif %}


{% endblock %}


