{% extends "base.html" %}


{% load video_tags %}

{% block content %}

{% if user and not user.is_anonymous %}

    <div class="row" style="margin-top:50px;">
        <div class="col-md-4"><h2>{{ object.title }}</h2></div> 
    </div>

    <div class="row" style="margin-top:50px;">
        <div class="col-md-4 center-block" >

                <img width="700" src="http://185.40.77.66:5000/video_feed/{{ object.camera_id }}/{{user.id}}/{{user.id | md5}}"><br><br>

{% comment %}
        <img width="700" src="{{ object.server_ip }}/rsapi/mjpeg?id={{ object.camera_id }}&framerate=10&user={{ object.server_login }}&password={{ object.server_pass }}&v
iewSize=1024x768"><br><br>

{% endcomment %}

<a href="{% url 'camera_arhive' object.pk %}" class="btn btn-primary">Смотреть архив</a>

    </div>

        {% else %}

            <div class="row" style="margin-top:50px;">
        <div class="col-md-4"><h2>Необходима авторизация</h2></div>
    </div>

    {% endif %}




{% endblock %}
